.card.image-full-color {
  display: grid;
}
.card.image-full-color:before {
  position: relative;
  content: '';
  z-index: 10;
  --tw-bg-opacity: 1;
  opacity: 0.75;
  border-radius: var(--rounded-box, 1rem);
}
.card.image-full-color:before,
.card.image-full-color > * {
  grid-column-start: 1;
  grid-row-start: 1;
}
.card.image-full-color:before,
.card.image-full-color > * {
  grid-column-start: 1;
  grid-row-start: 1;
}
.card.image-full-color > figure img {
  height: 100%;
  object-fit: cover;
}
.card.image-full-color > .card-body {
  position: relative;
  z-index: 20;
  --tw-text-opacity: 1;
}
.card.image-full-color :where(figure) {
  overflow: hidden;
  border-radius: inherit;
}
